# CLI
cleo==0.8.1
colorlog==4.8.0

# YAML
PyYAML==5.4.1

# Clien Web
aiohttp==3.7.4
pyppeteer==0.2.5

# Asyncio
uvloop==0.15.2

# Database
tortoise-orm[asyncpg]==0.17.2
aerich==0.5.3  # https://github.com/tortoise/aerich for migrations DB
# Scraper
lxml==4.6.3
